<!DOCTYPE html>

<!-- Wip page by https://lottiefiles.com/123532-coding -->

<html lang="en">

{% include head.html %}

<body class="bootstrap">

  <div class="container">

    <div class="wrapper p-5 text-center">

      <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
      <lottie-player src="https://assets5.lottiefiles.com/packages/lf20_vDd5lrv57P.json" background="transparent"
        speed="1" style="width: 300px; height: 300px;" loop autoplay></lottie-player>

      <h3>Work In Progress!</h3>
      <a class="btn btn-outline-primary mt-1" href="{{ site.baseurl }}/">Go Back Home</a>

    </div>

  </div>

</body>

</html>