.search-box {
  box-shadow: none !important;
}

.post.card {
  border-radius: $rounded-borders;
  text-decoration: none !important;
  padding: 15px;
  height: 100%;

  .card-footer {
    font-size: 14px;
    margin: 0 -15px -15px -15px;
    padding: 15px 35px;
  }
}

.post-metadata {
  font-size: 14px;
  margin-top: -6px;

  .tag:hover {
    background-color: $primary;
    color: white !important;
  }
}

.work-in-progress {
  position: relative;
}

.work-in-progress::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 1;
}

.container-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  /* make sure the cogs are above the overlay */
  pointer-events: none;
  /* Disable clicking on the gears */
}

.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.first-gear {
  position: absolute;
  left: 15%;
  top: 34%;
  animation: spin 2s linear infinite;
}

.second-gear {
  position: absolute;
  left: 15%;
  top: 56%;
  animation: spin 2s linear infinite;
}

.third-gear {
  position: absolute;
  left: 29%;
  top: 45%;
  animation: spin-opposite 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes spin-opposite {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}